---
Time: 20;
---
/*!
 * http://jsfiddle.net/hajmd/
 */

{% assign n = site.data.quotes | size | divided_by: 1.0 %}

#slide {
    display: grid !important
}

#slide > * {
    grid-row-start: 1;
    grid-column-start: 1;
    opacity: 0;
    z-index: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-animation: slideAnimation {{ page.Time | times: n }}s linear infinite 0s;
    -moz-animation: slideAnimation {{ page.Time | times: n }}s linear infinite 0s;
    -o-animation: slideAnimation {{ page.Time | times: n }}s linear infinite 0s;
    -ms-animation: slideAnimation {{ page.Time | times: n }}s linear infinite 0s;
    animation: slideAnimation {{ page.Time | times: n }}s linear infinite 0s;
}

{% for q in site.data.quotes %}
#slide > *:nth-child({{ forloop.index| plus: 1 }}) {
    -webkit-animation-delay: {{ forloop.index | times: page.Time }}s;
    -moz-animation-delay: {{ forloop.index | times: page.Time }}s;
    -o-animation-delay: {{ forloop.index | times: page.Time }}s;
    -ms-animation-delay: {{ forloop.index | times: page.Time }}s;
    animation-delay: {{ forloop.index | times: page.Time }}s;
}{% endfor %}


@-webkit-keyframes slideAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    {{ 100 | divided_by: n | divided_by: 2 }}% { opacity: 1;
         animation-timing-function: ease-out; }
    {{ 100 | divided_by: n | divided_by: 3 | times: 2 }}% { opacity: 1 }
    {{ 100 | divided_by: n }}% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes slideAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    {{ 100 | divided_by: n | divided_by: 2 }}% { opacity: 1;
         animation-timing-function: ease-out; }
    {{ 100 | divided_by: n | divided_by: 3 | times: 2 }}% { opacity: 1 }
    {{ 100 | divided_by: n }}% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes slideAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    {{ 100 | divided_by: n | divided_by: 2 }}% { opacity: 1;
         animation-timing-function: ease-out; }
    {{ 100 | divided_by: n | divided_by: 3 | times: 2 }}% { opacity: 1 }
    {{ 100 | divided_by: n }}% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes slideAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    {{ 100 | divided_by: n | divided_by: 2 }}% { opacity: 1;
         animation-timing-function: ease-out; }
    {{ 100 | divided_by: n | divided_by: 3 | times: 2 }}% { opacity: 1 }
    {{ 100 | divided_by: n }}% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes slideAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    {{ 100 | divided_by: n | divided_by: 2 }}% { opacity: 1;
         animation-timing-function: ease-out; }
    {{ 100 | divided_by: n | divided_by: 3 | times: 2 }}% { opacity: 1 }
    {{ 100 | divided_by: n }}% { opacity: 0 }
    100% { opacity: 0 }
}
