---
layout: colors
permalink: /jokes/

title: "Jokes"
subtitle: "from&nbsp;the&nbsp;Vortex"
lead: "No&nbsp;Offence"
---

<section class="col col-md-9 mx-auto p-3 my-5">
    <ul class="list-group bg-body-secondary bg-opacity-75 shadow-lg rounded">
    {% for joke in site.jokes %}
        <li class="list-group-item bg-body-tertiary bg-opacity-25 d-flex justify-content-between align-items-center">
            <a href="{{ joke.url }}" class="stretched-link">{{ joke.subject }}</a>
            {% if joke.tags %}<div>{% for tag in joke.tags %}<span class="badge rounded-pill text-bg-{% if tag == "MA" or tag == "M" %}danger{% elsif tag == "PG" %}warning{% else %}success{% endif %}">{{ tag }}</span>{% endfor %}</div>{% endif %}
        </li>
    {% endfor %}
    </ul>
</section>
