<div id="crossfade" class="container-fluid">
    <img class="img-fluid" src="/img/scream_100.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_90.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_80.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_70.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_60.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_50.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_40.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_30d.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_20d.webp" alt="Scream" height="450" width="1280">
    <img class="img-fluid" src="/img/scream_15d.webp" alt="Scream" height="450" width="1280">
</div>
