<footer class="container-fluid text-light-emphasis border-top border-dark mt-4 pt-4">
    <div class="row justify-content-center align-items-end">
        <div class="col-sm-6 col-md-4 col-lg-3 text-end">
            <p>&copy; 2000-2005 Razox</p>
            <p>
                <a href="http://validator.w3.org/check/referer"><img src="images/xhtml10.png" alt="XHTML 1.0 Strict" /></a><a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="images/css.gif" alt="CSS" /></a><a href="http://www.icaa.org.au"><img src="images/accountants.png" alt="Accountant" /></a><a href="http://horoscopes.astrology.com/dailylongcancer.html"><img src="images/cancer1.gif" alt="Cancer" /></a>
            </p>
        </div>
    </div>
</footer>