<nav class="navbar navbar-expand-lg navbar-static-top">
     <div class="container">
          <a href="/" class="navbar-brand">{{ site.name }}</a>
          <input type="checkbox" id="navbar-toggle-cbox">
          <label for="navbar-toggle-cbox" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main">
               <span class="navbar-toggler-icon"></span>
          </label>
          <div class="navbar-collapse collapse" id="navbar-main">
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/jokes/">Jokes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/quotes/">Quotes</a></li>
                    <li class="nav-item">&amp;</li>
                    <li class="nav-item"><a class="nav-link" href="/links/">Links</a></li>
               </ul>
          </div>
     </div>
</nav> <!-- End of navigation menu -->
