---
layout: default

title: "Jokes"
subtitle: 
lead: "No&nbsp;Offence"
---

<div class="row">
  <div class="col-md-9">
    {% for post in paginator.posts %}
    <article class="mb-3 pb-2 border-bottom border-dark">
      <img class="d-inline-block" src="/img/SmirC-laugh.svg">
      <h2 class="post-title"><a href="{{ post.url }}" class="text-reset text-decoration-none">{{ post.title }}</a></h2>
      {% if post.subtitle %}<p class="lead">{{ post.subtitle }}</p>{% endif %}
      <p class="post-meta small">~ {{post.date | date_to_string}}</p>
      {{ post.content }}
    </article>
    {% endfor %}
    <ul id="pager" class="nav justify-content-between">
      <li class="nav-item">
        {% if paginator.previous_page %}
        <a class="nav-link" href="/insights/{% if paginator.page <> 2 %}{{paginator.previous_page}}{% endif %}">&laquo; Previous</a>
        {% else %}
        <span class="nav-link disabled">&laquo; Previous</span>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if paginator.next_page %}
        <a class="nav-link" href="/insights/{{paginator.next_page}}">Next &raquo;</a>
        {% else %}
        <span class="nav-link disabled">Next &raquo;</span>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
